#main-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0; }

#s-mask {
  position: relative;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  transition: transform 500ms ease; }

body.nav-open #s-mask {
  transform: translate3d(90%, 0, 0); }

#mobile-nav {
  width: 90%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: white;
  position: absolute;
  overflow: hidden;
  left: 0;
  transform: translate3d(-100%, 0, 0); }
  #mobile-nav #nav-back-link {
    padding: 15px;
    text-align: right; }
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    clear: both;
    position: relative;
    transition: transform 0.3s linear; }
  #mobile-nav .active-level-1 {
    transform: translateX(-100%); }
  #mobile-nav .active-level-2 {
    transform: translateX(-200%); }
  #mobile-nav li {
    background-image: none;
    border-top: solid 1px #bfc1c3;
    margin: 0;
    width: auto;
    list-style: none; }
    #mobile-nav li:hover {
      background-color: #d4d4d4; }
    #mobile-nav li a {
      display: block;
      padding: 15px 0 15px 15px;
      color: black;
      text-decoration: none; }
  #mobile-nav > ul ul {
    position: absolute;
    left: 100%;
    width: 100%;
    display: none;
    top: 0; }
  #mobile-nav > ul ul.active {
    display: block; }

#container {
  position: relative;
  width: 100%;
  background: white;
  left: 0;
  box-shadow: -1px 0 10px -2px rgba(0, 0, 0, 0.36);
  z-index: 2;
  overflow: auto; }
  #container #header {
    padding: 20px; }
    #container #header #mobile-nav-open {
      display: inline-block;
      text-indent: 0;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 60%;
      vertical-align: bottom;
      height: 32px; }
      #container #header #mobile-nav-open:before {
        content: "";
        display: block;
        border-top: 10px double black;
        border-bottom: 3px solid black;
        width: 28px;
        height: 4px;
        box-sizing: content-box;
        margin-bottom: 10px; }
  #container #content {
    padding: 20px;
    margin: 10px auto;
    height: 1000px; }
