$levels: 2;
@mixin active-level-x {
  @for $i from 1 through $levels {
    .active-level-#{$i} {
      transform: translateX(#{-$i * 100%});
    }
  }
}
#main-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
#s-mask {
  position: relative;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  transition: transform 500ms ease;
}
body.nav-open #s-mask {
  transform: translate3d(90%, 0, 0);
}
#mobile-nav {
  width: 90%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: white;
  position: absolute;
  overflow: hidden;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  #nav-back-link {
    padding: 15px;
    text-align: right;
  }
  ul {
    padding: 0;
    margin: 0;
    clear: both;
    position: relative;
    transition: transform 0.3s linear;
  }
  @include active-level-x;
  li {
    background-image: none;
    border-top: solid 1px #bfc1c3;
    margin: 0;
    width: auto;
    list-style: none;
    &:hover {
      background-color: #d4d4d4;
    }
    a {
      display: block;
      padding: 15px 0 15px 15px;
      color: black;
      text-decoration: none;
    }
  }
  > ul ul {
    position: absolute;
    left: 100%;
    width: 100%;
    display: none;
    top: 0;
  }
  > ul ul.active {
    display: block;
  }
}
#container {
  position: relative;
  width: 100%;
  background: white;
  left: 0;
  box-shadow: -1px 0 10px -2px rgba(0, 0, 0, 0.36);
  z-index: 2;
  overflow: auto;
  #header {
    padding: 20px;
    #mobile-nav-open{
      display: inline-block;
      text-indent: 0;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 60%;
      vertical-align: bottom;
      height: 32px;
      &:before {
        content: "";
        display: block;
        border-top: 10px double black;
        border-bottom: 3px solid black;
        width: 28px;
        height: 4px;
        box-sizing: content-box;
        margin-bottom: 10px;
      }
    }
  }
  #content {
    padding: 20px;
    margin: 10px auto;
    height: 1000px;
  }
}